.sound-player {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.sound-player audio {
    width: 100%;
}

.track-list {
    max-height: 370px;
    overflow: auto;
}

.track-item {
    margin: 5px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.track-item p {
}

.track-item button {
    border: none;
    padding: 0;
    background-color: transparent;
    outline-color: transparent;
}
