.to-do-list {
}

.add-task {
    display: flex;
    justify-content: space-between;
}

.to-do-list input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline-color: transparent;
}

.to-do-list .add-task {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(254, 254, 255);
}

.to-do-list button {
    border: none;
    background-color: transparent;
}

.tasks {
    list-style: none;
    display: block;
    padding: 0;
}

.tasks li {
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
}

.tasks li span {
    width: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.676);
}

.tasks li button {
    border: none;
    background-color: transparent;
}

.options {
    display: flex;
}